html {
    background-color: grey;
}
body {
    background-color: white;
    
    padding: 2%;
}
form {
    margin: auto;
    width: 100%;
    text-align: center;
    container-type: normal;
}
.content {
    margin: auto;
    text-align: center;
}
input {
    width: 100%;
}
option {
    width: 100%;
}